<div class="dialog_box_div">
    <div class="dialog_div">
        <img src="../../../assets/images/ic_verified.png" />
        <h4 class="highlight__color">Verified!</h4>
    </div>
<p>{{data}}</p>
</div>

