.dialog_box_div{
    height: 250px;
    width: 300px;
    font-size: 16px;
    text-align: center;
}

.dialog_div {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    margin-top: 50px;
   

}