<div class="card-wrapper">
    <mat-card class="background-card">

        <div class="role_area">
            <img src="../../../../assets/images/OCricle.svg" height="30px" width="100px" class="hidden-mobile" />
            <span class="text_account">Already have an account</span>
            <button class="btn_signup" mat-raised-button routerLink="/user/login">LOG IN</button>
        </div>
        <mat-card class="overlay-card">
            <h2>Verify Your Email </h2>
            <mat-card-content>
                <div class="verify form-wrapper">
                    <form>
                        <p class="desc">{{'VERIFY_EMAIL.ENTER_CODE'|translate}} <span
                                class="highlight__color"><b>{{email}}</b></span>
                        </p>
                        <div class="row_fields">
                            <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{length:4}"></ng-otp-input>
                        </div>

                        <div class="resend_otp">
                            <p>{{'VERIFY_EMAIL.NOT_RECIEVE'|translate}} <br> {{'VERIFY_EMAIL.CHECK_SPAM'|translate}}<a
                                    (click)="resendOtp()"
                                    class="highlight__color">{{'VERIFY_EMAIL.RESEND_CODE'|translate}}</a>
                            </p>
                        </div>
                    </form>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-card>
</div>