.btn_signup {
    width: 180px;
    height: 50px;
    border: 2px solid #125893;
    color: #125893 !important;
    border-radius: 8px;
    font-weight: 700;
}


.form-wrapper {
    text-align: center;
}


.desc {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    max-width: 75%;
    margin: 0 auto;
    margin-bottom: 15px;
    color: #7E7E7E;
}

.resend_otp {
    color: #7E7E7E;
    padding: 55px;
}

.highlight__color {
    color: #125893;
}

.card-wrapper {
    display: flex;
    align-items: flex-start;
    margin: 20px;
    min-height: 200px;
    border-radius: 10px !important;
}


h2 {
    font-size: 28px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.87);
    text-transform: capitalize;
    font-family: var(--font-family);
    line-height: 1.2;
    text-align: center;
    color: #125893;
    margin-bottom: 32px;
}

.overlay-card {
    position: absolute;
    width: 624px;
    height: 390px;
    z-index: 2;
    right: 60px;
    top: -85px;
    border: 1px;
    border-radius: 8px;
    padding: 40px 20px 0;
}

.background-card {
    width: 1000px;
    background: #FFFFFF;
    position: relative;
    height: 235px;
    margin: -200px auto 0 160px;
}

.role_area {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 20%;
    padding: 60px 0 0px 50px;

    img {
        padding: 0 40px;
    }

    span {
        font-size: 16px;
        font-weight: 400;
        line-height: 40px;
        margin: 0 !important;
        letter-spacing: 0em;
        text-align: center;
        color: #7E7E7E;
    }
}

@media (max-width: 766px) {
    .overlay-card {
        position: absolute;
        width: 100%;
        height: fit-content;
        z-index: 2;
        left: 0;
        right: 0;
        top: -168px;
        border: 1px;
        border-radius: 8px;
        padding: 20px;
    }

    .background-card {
        width: auto;
        height: 100%;
        margin: 0;
        box-shadow: none;
    }

    .role_area {
        display: none;
    }

    .card-wrapper {
        display: contents;
        align-items: flex-start;
        border-radius: 10px !important;
    }
}

@media (min-width: 768px) and (max-width:1024px) {
    .overlay-card {
        position: absolute;
        width: 100%;
        height: fit-content;
        z-index: 2;
        left: 0;
        right: 0;
        top: -100px;
        border: 1px;
        border-radius: 8px;
        padding: 20px;
    }

    .background-card {
        width: auto;
        height: auto;
        margin: 0;
    }

    .role_area {
        display: none;

    }

    .card-wrapper {
        display: contents;
        align-items: flex-start;
        border-radius: 10px !important;
    }


}