.card-wrapper {
  display: flex;
  align-items: flex-start;
  margin: 20px;
  min-height: 200px;
  border-radius: 10px !important;

}

.overlay-card {
  position: absolute;
  width: 624px;
  height: 370px;
  z-index: 2;
  left: 6%;
  top: -75px;
  border: 1px;
  border-radius: 8px;
  padding: 20px;
  margin: 0 auto;
}

.register {
  display: none;
}

.background-card {
  width: 1000px;
  background: #FFFFFF;
  position: relative;
  height: 235px;
  top: -141px;
  left: -1%;
  margin: 0 auto;
}

.role_area {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 60px 70px 0px 50px;

  img {
    padding: 0 40px;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    margin: 0 !important;
    letter-spacing: 0em;
    text-align: center;
    color: #7E7E7E;
  }
}



.btn_signup {
  width: 180px;
  height: 50px;
  border: 2px solid #125893;
  color: #125893;
  border-radius: 8px;

}


h2 {
  font-size: 28px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
  text-transform: capitalize;
  font-family: var(--font-family);
  line-height: 1.2;
  text-align: center;
  color: #125893;
  margin-bottom: 32px;

}

.link {
  text-align: right;
  margin-bottom: 20px;
}

.link a {
  color: #125893 !important;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none !important;
}


.btn_div {
  text-align: center;
}

.btn-Login {
  width: 223.35px;
  height: 54px;
  border-radius: 8px;
  background-color: #125893 !important;
  color: #FFFFFF !important;
}



// @media (max-width: 844px) {
//   .overlay-card {
//    position: absolute;
//     width: 90%;
//     height: fit-content;
//     z-index: 2;
//     left: 5%;
//     top: -183px;
//     border: 1px;
//     border-radius: 8px;
//     padding: 20px;
//   }

//   .background-card {
//     width: auto;
//     height: auto;
//     margin: 0;

//   }

//   .register {
//     margin-top: 25px;
//     color: #7E7E7E !important;
//     display: flex;
//     justify-content: center;
//   }

//   .register a {
//     color: #125893;
//     font-weight: 600;
//   }

//   .register p {
//     color: #7E7E7E !important;
//     display: inline-block;
//   }


//   .role_area {
//     display: none;

//   }

//   .card-wrapper {
//     display: contents;
//     align-items: flex-start;
//     border-radius: 10px !important;
//   }



// }


@media (max-width: 766px) {
  .overlay-card {
    position: absolute;
    width: 100%;
    height: fit-content;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    border: 1px;
    border-radius: 8px;
    padding: 20px;
  }

  .background-card {
    width: auto;
    height: 0;
    left: 0;
    min-height: fit-content;
    margin: 0 auto;
    box-shadow: none;
  }

  .register {
    margin-top: 25px;
    color: #7E7E7E !important;
    display: flex;
    justify-content: center;
  }

  .register a {
    color: #125893;
    font-weight: 600;
  }

  .register p {
    color: #7E7E7E !important;
    display: inline-block;
  }


  .role_area {
    display: none;

  }

  .card-wrapper {
    display: contents;
    align-items: flex-start;
    border-radius: 10px !important;
  }
}

@media (min-width: 768px) and (max-width:1024px) {
  .overlay-card {
    position: absolute;
    width: 100%;
    height: fit-content;
    z-index: 2;
    left: 0;
    right: 0;
    top: -100px;
    border: 1px;
    border-radius: 8px;
    padding: 20px;
  }

  .background-card {
    width: auto;
    height: 0;
    margin: 0 auto;
    box-shadow: none;
  }

  .register {
    margin-top: 25px;
    color: #7E7E7E !important;
    display: flex;
    justify-content: center;
  }

  .register a {
    color: #125893;
    font-weight: 600;
  }

  .register p {
    color: #7E7E7E !important;
    display: inline-block;
  }


  .role_area {
    display: none;

  }

  .card-wrapper {
    display: contents;
    align-items: flex-start;
    border-radius: 10px !important;
  }
}