<div *ngIf="loader" class="loader-container">
    <mat-spinner></mat-spinner>
</div>

<div class="card-wrapper" *ngIf="!loader">
    <mat-card class="background-card">
        <div class="role_area">
            <img src="../../../../assets/images/OCricle.svg" height="30px" width="100px" class="hidden-mobile" />
            <p>{{'LOGIN.DHAA' | translate}}</p>
            <button class=btn_signup mat-raised-button routerLink="/user/register">{{'LOGIN.SIGNUP' |
                translate}}</button>
        </div>
        <mat-card class="overlay-card">
            <h2> {{'LOGIN.WELCOME' | translate}}</h2>
            <mat-card-content>
                <form [formGroup]="loginForm">
                    <div class="row_fields" fxLayout="column" fxLayoutGap="10px">
                        <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="90">
                            <mat-label>{{'LOGIN.EMAIL' | translate}}</mat-label>
                            <input matInput placeholder="{{'LOGIN.EMAIL' | translate}}" formControlName="email"
                                name="email" required>
                            <mat-error *ngIf="loginForm.controls['email'].hasError('required')">{{'ERROR_MSG.EMAIL_REQ'
                                |
                                translate}}</mat-error>
                            <mat-error
                                *ngIf="loginForm.controls['email']?.errors?.['pattern']">{{'ERROR_MSG.INVALID_EMAIL_FORMAT'
                                |
                                translate}}</mat-error>
                        </mat-form-field>
                        <mat-form-field floatLabel="always" class="example-full-width forgot-password"
                            appearance="outline" fxFlex="90">
                            <mat-label>{{'LOGIN.PASSWORD' | translate}}</mat-label>
                            <input matInput placeholder="{{'LOGIN.PASSWORD' | translate}}" name="password"
                                [type]="showPassword? 'text' : 'password'" autocomplete="new-password"
                                formControlName="password" required>
                            <mat-icon matSuffix
                                (click)="toggleVisibility()">{{showPassword ? 'visibility':'visibility_off'}}</mat-icon>
                            <mat-error
                                *ngIf="loginForm.controls['password']?.errors?.['required']">{{'ERROR_MSG.PASS_REQ'
                                |translate}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="link">
                        <a routerLink="/user/forgot-password">{{'LOGIN.FYP' | translate}}</a>
                    </div>
                    <div class="btn_div">
                        <button type="submit" class="btn-Login" mat-raised-button (click)="login()">{{'LOGIN.SIGN'
                            |translate}} </button>
                    </div>
                    <div class="register">
                        <p>{{'LOGIN.DHAA' | translate}}</p>
                        <a routerLink="/user/register">{{'LOGIN.SIGNUP'| translate}}</a>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </mat-card>
</div>