<div class="main_container">
    <h1 class="terms_container">Terms &amp; Conditions</h1>
    <div class="content_div">
        <p>These terms and conditions ('Agreement') govern your use of our admin dashboard ('Service'). By using
            the Service, you agree to be bound by this Agreement.</p>
        <h2>Use of Service</h2>
        <p>You may use the Service only for lawful purposes and in accordance with this Agreement. You agree not
            to use the Service:</p>
        <ul>
            <li>In any way that violates any applicable federal, state, local, or international law or
                regulation.</li>
            <li>To transmit, or procure the sending of, any advertising or promotional material, including any
                "junk mail," "chain letter," "spam," or any other similar solicitation.</li>
            <li>To impersonate or attempt to impersonate the Company, a Company employee, another user, or any
                other person or entity.</li>
            <li>To engage in any other conduct that restricts or inhibits anyone's use or enjoyment of the
                Service, or which, as determined by the Company, may harm the Company or users of the Service,
                or expose them to liability.</li>
        </ul>
        <h2>Intellectual Property Rights</h2>
        <p>The Service and its entire contents, features, and functionality (including but not limited to all
            information, software, text, displays, images, video, and audio, and the design, selection, and
            arrangement thereof), are owned by the Company or its licensors and are protected by United States
            and international copyright, trademark, patent, trade secret, and other intellectual property or
            proprietary rights laws.</p>
        <h2>Disclaimer of Warranties</h2>
        <p>The Service is provided on an "as is" and "as available" basis, without any warranties of any kind,
            express or implied, including but not limited to warranties of merchantability, fitness for a
            particular purpose, non-infringement, or course of performance.</p>
        <h2>Limitation of Liability</h2>
        <p>In no event shall the Company, its affiliates, or their licensors, service providers, employees,
            agents, officers, or directors be liable for damages of any kind, including but not limited to
            direct, indirect, incidental, consequential, special, or punitive damages arising out of or in
            connection with your use of the Service.</p>
        <h2>Termination</h2>
        <p>We may terminate or suspend your access to the Service immediately, without prior notice or
            liability, for any reason whatsoever, including without limitation if you breach this Agreement.</p>
        <h2>Changes to Agreement</h2>
        <p>We may revise and update this Agreement from time to time in our sole discretion. All changes are
            effective immediately when we post them.</p>
        <h2>Contact Us</h2>
        <p>If you have any questions about this Agreement, please contact us at <a
                href="mailto:contact@example.com">contact@example.com</a>.</p>
        <p>This Agreement is provided as a sample and should be modified to reflect the specific terms and
            conditions of your admin dashboard. Additionally, it is recommended that you consult with legal
            counsel to ensure that your terms and conditions comply with applicable laws and regulations.</p>
    </div>
</div>