.main_container {
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1188px;
    margin-top: 24px;
    margin-bottom: 80px;
    color: #7e7e7e;
    height: 450px;
}

.terms_container {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.87);
    font-family: var(--font-family);
    line-height: 2.167;
}

.content_div h2 {
    font-size: 16px;
    font-weight: 700;
    color: black;
    margin-bottom: 0;
}