.btn-block {
    min-width: 160px;
    height: 45px;
    color: white !important;
    background: #125893 !important;
    border-radius: 8px;
}

.desc {
    font-family: var(--font-family);
    font-size: 1rem;
    line-height: 1.75;
    color: rgb(126, 126, 126);
    font-weight: 500;
}


h1 {
    margin: 0px 0px 16px;
    font-size: 21px;
    font-weight: 700;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.87);
    font-family: var(--font-family);
    line-height: 1.167;
}

.form-wrapper {
    text-align: center;
    padding: 40px;
}

.forgotForm {
    padding: 40px;
}

.overlay-card {
    background: #FFFFFF;
    position: relative;
    height: 100%;
    width: 100%;
    left: 23%;
    max-width: 56%;
    display: block;
    margin: -250px auto 0 0;
}

@media (max-width: 767px) {
    .desc {
        font-size: small;
    }

    .btn-block {
        width: 120px;
    }

    .overlay-card {
        height: fit-content;
        width: -webkit-fill-available;
        margin: -130px auto 0 0px;
        left: 0;
        max-width: 100%;
    }

    .form-wrapper {
        padding: 10px;
    }

}


@media (min-width: 768px) and (max-width: 1360px) {
    .desc {
        font-size: small;
    }

    .btn-block {
        width: 120px;
    }

    .overlay-card {
        height: fit-content;
        width: fit-content;
        margin: -180px auto 0 0;
        left: 0;
        max-width: 100%;
    }

    .form-wrapper {
        padding: 10px;
    }
}