<div class="card-wrapper">
    <form class="mat-list form mt-20 " [formGroup]="contactForm">
        <div fxLayout="row" fxLayout.xs="column" class="main_contentContactUs">
            <div fxFlex="70" class="left_container">
                <h1><strong>{{'CONTACT.MESSAGE' | translate}}</strong></h1>
                <p class="header_class">In publishing and graphic design, Lorem ipsum is a placeholder</p>
                <div>
                    <div class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="0px">
                        <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
                            <mat-label>{{'REGISTER.FNAME'|translate}}</mat-label>
                            <input matInput placeholder="{{'REGISTER.FNAME'|translate}}" formControlName="full_name"
                                name="full_name">
                            <mat-error
                                *ngIf="contactForm.controls['full_name']?.errors?.['required']">{{'ERROR_MSG.FIRST_NAME_REQ'|translate}}</mat-error>
                        </mat-form-field>
                        <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
                            <mat-label>Phone Number</mat-label>
                            <input matInput placeholder="Phone Number" formControlName="phone_number"
                                name="phone_number" required>
                            <mat-error
                                *ngIf="contactForm.controls['phone_number']?.errors?.['required']">{{'ERROR_MSG.PHONE_NUMBER_REQ'|translate}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="0px">
                        <mat-form-field floatLabel="always" class="example-full-width" appearance="outline"
                            fxFlex="100">
                            <mat-label>{{'REGISTER.EMAIL'|translate}}</mat-label>
                            <input matInput placeholder="{{'REGISTER.EMAIL'|translate}}" formControlName="email"
                                name="email" required>
                            <mat-error
                                *ngIf="contactForm.controls['email'].hasError('required')">{{'ERROR_MSG.EMAIL_REQ'|translate}}</mat-error>
                            <mat-error
                                *ngIf="contactForm.controls['email']?.errors?.['pattern']">{{'ERROR_MSG.INVALID_EMAIL_FORMAT'|translate}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="0px">
                        <mat-form-field floatLabel="always" class="example-full-width textarea" appearance="outline"
                            fxFlex="100">
                            <mat-label>Message</mat-label>
                            <textarea matInput placeholder="Message" formControlName="message" rows="3"></textarea>
                            <mat-error *ngIf="contactForm.controls['message'].hasError('required')">Enter Your
                                Message</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="btn_div text-right">
                    <button type="submit" class="btn-block text-right" mat-raised-button
                        (click)="submit()">{{'SHARE.SUBMIT' |
                        translate}}</button>
                </div>
            </div>
            <mat-divider class="centerDivider" vertical></mat-divider>
            <div fxFlex="30" class="right_container">
                <h1><strong>{{'CONTACT.INFORMATION' | translate}}</strong></h1>
                <div class="parent_icon">
                    <p class="icon_p">
                        <mat-icon class="material-symbols-outlined">location_on</mat-icon>
                    </p>
                    <p class="address_text_p"> No2 - 29th floor - 221b Baker street - London, United Kingdom
                    </p>
                </div>
                <div class="parent_icon">
                    <p class="icon_p">
                        <mat-icon class="material-symbols-outlined">call</mat-icon>
                    </p>
                    <a class="text_p" href="tel:(+01). 123. 456. 789"> (+01). 123. 456. 789</a>
                </div>
                <div class="parent_icon">
                    <p class="icon_p">
                        <mat-icon class="material-symbols-outlined">mail</mat-icon>
                    </p>
                    <a class="text_p" href="mailto:demo@gmail.com">demo@demo.com</a>
                </div>
            </div>
        </div>
    </form>
</div>