.card-wrapper {
    max-width: 85%;
    width: 100%;
    margin: 20px auto;
    max-height: 50px;
    height: 100%
}

.left_container,
.right_container {
    margin: 30px;
}

.textarea {
    height: 120px !important;
}

.btn-block {
    min-width: 140px;
    height: 45px;
    color: white !important;
    background: #125893 !important;
    border-radius: 8px;
}

.btn_div {
    text-align: right;
}

.parent_icon {
    display: flex;
    align-items: center;
    .icon_p {
        height: 35px;
        max-width: 35px;
        width: 100%;
        margin: 15px 15px 15px 0px;
        position: relative;
        background: #12589333;
        border-radius: 50%;
        mat-icon {
            color: #125893;
            position: absolute;
            top: 5px;
            left: 15%;
        }
    }

    .address_text_p, .text_p{
        text-decoration: none;
        margin: 0 !important;
        color: #3D5974;
        font-weight: 500;
    }
    
    .text_p:hover{
        text-decoration: underline;
    }
}

.header_class {
    margin-bottom: 25px;
    color: #3D5974;
    font-weight: 500;
}

.left_container h1 {
    margin: 0 !important;
}