<div class="card-wrapper">
    <mat-tab-group class="mat_tab_div tab-group" (selectedTabChange)="onTabChange($event)" animationDuration="0ms"
        mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab class="upcoming_booking test_label" label="Upcoming Bookings">

            <div *ngIf="loader" class="loader-container">
                <mat-spinner></mat-spinner>
            </div>

            <mat-card class="booking-card" *ngFor="let bookings of customerBooking">
                <div class="main-content" *ngIf="!loader">
                    <div class="first-card-content" fxLayout="row" fxLayout.xs="column">
                        <div class="slide-image">
                            <img [src]="getImage(bookings?.image_url1)" height="100%" />
                        </div>
                        <div class="slide-vehicleDetails" fxFlex="40">
                            <div class="car-brand">
                                <strong>Maruti - </strong>
                                <span class="car-name">Swift</span>
                            </div>
                            <div class="car-details">
                                <div class="iconDetails">
                                    <img src="../../../../assets/images/iconDiesel.svg.svg" />
                                    <span>Diesel</span>
                                </div>
                                <div class="iconDetails"> <img
                                        src="../../../../assets/images/iconTransmission.svg.svg" />
                                    <span>
                                        Manual
                                    </span>
                                </div>
                                <div class="iconDetails"> <img src="../../../../assets/images/Group 6550.svg" />
                                    <span>
                                        5 Seater
                                    </span>
                                </div>
                            </div>
                            <div class="car-startEndDate">
                                <span class="startDate"><strong>{{'VEHICLE_SEARCH.START_DATE' | translate}} -
                                    </strong>{{bookings.BookingstartDate |
                                    date:'dd/MM/yyyy'}}</span>
                                <span class="endDate"><strong>{{'VEHICLE_SEARCH.END_DATE' | translate}} -
                                    </strong>{{bookings.BookingendDate |
                                    date:'dd/MM/yyyy'}}</span>
                            </div>
                            <div class="car-booking-city">
                                <strong>{{bookings.city}}</strong>
                            </div>
                        </div>
                    </div>
                    <div class="slide-vehicleJourney second-card-content">
                        <div class="journey_badges upcoming">
                            <div matBadge="{{bookings.Status}} " matBadgeOverlap="false" class="demo-section"></div>
                        </div>
                        <div class="amount">
                            <span>Amount - </span>
                            <span class="price"><strong>DT {{bookings.amount}}</strong></span>
                        </div>
                        <div class="atm_number">
                            <span>
                                {{ bookings.stripeTransactionDetails?.card_number ?
                                maskNumber(bookings.stripeTransactionDetails?.card_number) :''
                                }}

                            </span>
                        </div>
                    </div>
                </div>
            </mat-card>
        </mat-tab>

        <mat-tab class="past_booking test_label" label="Past Bookings">
            <mat-card class="booking-card" *ngFor="let bookings of customerBooking">
                <div *ngIf="loader" class="loader-container">
                    <mat-spinner></mat-spinner>
                </div>



                <div class="main-content" *ngIf="!loader">
                    <div class="first-card-content" fxLayout="row" fxLayout.xs="column">
                        <div class="slide-image">
                            <img [src]="getImage(bookings?.image_url1)" height="100%" />
                        </div>
                        <div class="slide-vehicleDetails" fxFlex="40">
                            <div class="car-brand">
                                <strong>Maruti - </strong>
                                <span class="car-name">Swift</span>
                            </div>
                            <div class="car-details">
                                <div class="iconDetails">
                                    <img src="../../../../assets/images/iconDiesel.svg.svg" />
                                    <span>Diesel</span>
                                </div>
                                <div class="iconDetails"> <img
                                        src="../../../../assets/images/iconTransmission.svg.svg" />
                                    <span>
                                        Manual
                                    </span>
                                </div>
                                <div class="iconDetails"> <img src="../../../../assets/images/Group 6550.svg" />
                                    <span>
                                        5 Seater
                                    </span>
                                </div>
                            </div>
                            <div class="car-startEndDate">
                                <span class="startDate"><strong>Start Date - </strong>{{bookings.BookingstartDate |
                                    date:'dd/MM/yyyy'}}</span>
                                <span class="endDate"><strong>End Date - </strong>{{bookings.BookingendDate |
                                    date:'dd/MM/yyyy'}}</span>
                            </div>
                            <div class="car-booking-city">
                                <strong>{{bookings.city}}</strong>
                            </div>
                        </div>
                    </div>
                    <div class="slide-vehicleJourney second-card-content">
                        <div class="journey_badges past">
                            <div matBadge="{{bookings.Status}} " matBadgeOverlap="false" class="demo-section"></div>
                        </div>
                        <div class="amount">
                            <span>Amount - </span>
                            <span class="price"><strong>{{bookings.amount}}</strong></span>
                        </div>
                        <div class="atm_number">
                            <span>
                                {{ bookings.stripeTransactionDetails?.card_number ?
                                maskNumber(bookings.stripeTransactionDetails?.card_number) :''
                                }}
                            </span>
                        </div>
                    </div>
                </div>
            </mat-card>
        </mat-tab>
    </mat-tab-group>
</div>