.card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px !important;
}

.booking-card {
    margin: 25px;
}

.main-content {
    // height: 150px;
    display: flex;
    justify-content: space-between;
}

.first-card-content {
    display: flex;
}

.slide-image {
    margin: 6px;
    // height: 100px;

    img {
        border-radius: 6px;
        width: 275px;

    }
}

.slide-vehicleDetails {
    margin: 15px 5px;

    .car-booking-city strong {
        color: rgb(11 61 102);
    }

    .car-brand,
    .car-details,
    .car-startEndDate,
    .car-booking-city {
        padding: 5px 5px;

        .car-name {
            color: rgb(11 61 102);
        }

        .iconDetails {
            span {
                color: rgb(11 61 102)
            }
        }

        .startDate::after {
            border-bottom: 2px solid #3D5974;
            margin: 0 10px;
            display: inline-block;
            content: '';
            width: 20px
        }

        .startDate,
        .endDate {
            color: #7E7E7E;

            strong {
                color: rgb(11 61 102) !important;
            }
        }
    }

    .car-details {
        display: flex;
        justify-content: space-between;
        width: 100%;

        div {
            display: flex;
            max-width: 75px;
            width: 100%;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.slide-vehicleJourney.second-card-content {
    margin: 15px 0px;

    div {
        margin: 10px 0;

        span {
            vertical-align: -webkit-baseline-middle;
            color: #3D5974;
        }

        span.price {
            font-size: 18px;
        }
    }

    div.amount,
    div.atm_number {
        text-align: right;
        margin-right: 10px;
    }

    .journey_badges {
        height: 36px;
        position: relative;

        div {
            margin: 0 !important;
        }
    }

    .mat-badge.demo-section.mat-badge-above.mat-badge-after.mat-badge-medium {
        .mat-badge-content {
            position: absolute;
            right: 0;
            height: 35px;
            display: flex;
            margin: 10px 0;
            width: 100%;
            font-size: 13px;
            color: white;
            border-radius: 10px 0px 0px 10px;
            align-items: center;
            justify-content: center;
        }
    }

    .journey_badges.upcoming .mat-badge.demo-section.mat-badge-above.mat-badge-after.mat-badge-medium {
        .mat-badge-content {
            background: #E7B400 !important;
        }
    }

    .journey_badges.past .mat-badge.demo-section.mat-badge-above.mat-badge-after.mat-badge-medium {
        .mat-badge-content {
            background: #09A41E !important;
        }
    }

}

@media (max-width: 767px) {
    .card-wrapper {
        height: 100px;
    }

    .main-content {
        display: block;
    }

    .mat-badge.demo-section.mat-badge-above.mat-badge-after.mat-badge-medium {
        .mat-badge-content {
            border-radius: 10px !important;
        }
    }

    .slide-vehicleDetails .car-details {
        width: 100%;
    }

    .slide-image {
        margin: 6px;

        img {
            border-radius: 6px;
            height: 100%;
            width: 100%;
        }
    }

    .slide-vehicleJourney.second-card-content {
        margin: 5px 0px;

        div {
            margin: 10px 0;

            span {
                vertical-align: -webkit-baseline-middle;
                color: #3D5974;
            }

            span.price {
                font-size: 18px;
            }
        }

        div.amount,
        div.atm_number {
            display: block;
            text-align: center;
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .card-wrapper {
        height: 100px;
    }

    .slide-image {
        margin: 6px;

        img {
            border-radius: 6px;
            height: 100%;
            // width: 100%;
            width: 275px;
        }
    }
}