<div class="header_mainContainer">

    <mat-drawer-container class="example-container">
        <mat-drawer #drawer class="example-sidenav" mode="over">
            <mat-nav-list>
                <a class="MatButtonHome mr-20" mat-button routerLink="/">{{'TITLE.HOME'| translate}}</a><br>
                <a class="MatButtonBooking" mat-button routerLink="">{{'TITLE.BOOKINGS'| translate}} </a><br>
                <a class="MatButtonContact" mat-button routerLink="/user/contact-us">{{'TITLE.CONTACT'|
                    translate}}</a><br>
                <button class="btn-Login" routerLink="/user/login" mat-raised-button>{{'LOGIN.SIGN' |translate}}
                </button>
            </mat-nav-list>
        </mat-drawer>
        <div class="example-sidenav-content">
            <div class="hedaer_secondContainer">
                <div class="header right_sideConatiner">
                    <div class="role_area" onclick="window.location.href=''" style="cursor: pointer;">
                        <img src="../../../../assets/images/OCricle.svg" class="hidden-mobile" />
                    </div>
                </div>

                <!-- <div *ngIf="!isloginUser" fxShow fxHide.xs fxHide.lt-lg class="header center_sideConatiner">
                    <a class="MatButtonHome mr-20" routerLink="/">{{'TITLE.HOME'| translate}}</a>
                    <a class="MatButtonContact" routerLink="/user/contact-us">{{'TITLE.CONTACT'| translate}}</a>
                </div> -->
                <div fxShow fxHide.xs fxHide.lt-lg class="center_sideConatiner">
                    <mat-tab-group animationDuration="0ms" mat-stretch-tabs="false" mat-align-tabs="start"
                        [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="onTabChange($event)"
                        class="tab-group">
                        <mat-tab label="{{'TITLE.HOME'| translate}}"> </mat-tab>
                        <mat-tab label="{{'TITLE.BOOKINGS'| translate}}"> </mat-tab>
                        <mat-tab label="{{'TITLE.CONTACT'| translate}}"> </mat-tab>
                    </mat-tab-group>
                </div>
                <div class="hedaer_rightSideContainer">
                    <button mat-button [matMenuTriggerFor]="languageMenu" class="language-button">
                        <div class="flag-container">
                            <span class="country-flag fi fi-{{ selectedLanguage?.sortname | lowercase }}"></span>

                        </div>
                    </button>
                    <mat-menu #languageMenu="matMenu">
                        <ng-container *ngFor="let lang of languages">
                            <button mat-menu-item [value]="lang" (click)="switchLanguage(lang)">
                                <div class="flag-container">
                                    <span class="country-flag  fi fi-{{ lang?.sortname | lowercase }}"></span>
                                    <span class="lang-title">{{ lang?.title }}</span>
                                </div>
                            </button>
                        </ng-container>
                    </mat-menu>

                    <div class="profileConatiner menu_Area">
                        <button fxShow fxHide.xs fxHide.lt-lg *ngIf="!isloginUser" mat-raised-button
                            routerLink="/user/login" class="btn_login">LOG IN</button>
                        <span *ngIf="isloginUser" class="menuContainer" [matMenuTriggerFor]="menu">
                            <img src="../../../../assets/images/profile.svg" class="vector_image" />
                            <mat-menu #menu="matMenu" class="headerMatMenu">
                                <button mat-menu-item routerLink="/user/profile/{{id}}"><mat-icon>person_outline</mat-icon>My
                                    Profile</button>
                                <button mat-menu-item><mat-icon>mail_outline</mat-icon>Change Password</button>
                                <button mat-menu-item (click)="logout()"><mat-icon>power_settings_new</mat-icon>Logout</button>
                            </mat-menu>
                        </span>
                    </div>
                    <button fxHide fxShow.xs fxShow.lt-lg type="button" mat-button (click)="drawer.toggle()">
                        <mat-icon>menu</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </mat-drawer-container>
</div>