.header_mainContainer {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
}


.center_sideConatiner a {
    color: #125893;
}

.vector_image {
    height: 38px;
    width: 32px;
}

.hedaer_rightSideContainer {
    display: flex;
}

.header a {
    text-decoration: none !important;
    color: #3D5974;
}

// .fi {
//     width: 30px;
//     height: 20px;
// }


.btn-Login {
    width: 100%;
    height: 54px;
    border-radius: 8px;
    background-color: #125893 !important;
    color: #FFFFFF !important;
    margin-top: 20px;
}

.btn_login {
    margin-top: 2px;
    border-radius: 8px;
    background-color: #125893 !important;
    color: #FFFFFF !important;

}

mat-drawer-content {
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.example-sidenav-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

mat-nav-list a {
    padding-top: 10px;
}