<div class="MainContainer">
    <div class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="15px"
        fxLayoutGap.xs="5px">
        <div class="first_div">
            <mat-card class="first_main-card">
                <div class="vehicle-image">
                    <img [src]="getImage(data?.image_url1)" />
                </div>
                <div class="first-card-content">
                    <div class="first-card-title"><strong>{{vehicleBrand}} -
                        </strong>
                        <span class="p1"> {{data?.model}}</span>
                    </div>
                    <div class="features">
                        <span> <img src="../../../../assets/images/iconDiesel.svg.svg" />
                            {{data?.motorization}}</span>
                        <span> <img src="../../../../assets/images/iconTransmission.svg.svg" />
                            {{data?.gearBox}}</span>
                        <span> <img src="../../../../assets/images/Group 6550.svg" />
                            {{data?.noOfSeats}} Seater</span>
                    </div>
                    <div class="detailsContainer-div">
                        <span class="p1">{{data?.bookingstartDate | date:'dd/MM/yyyy'}}- {{data?.bookingendDate | date
                            :'dd/MM/yyyy'}}</span>
                        <span class="p1">{{cityName}}</span>
                        <span class="price_p1">DT{{data?.ratePerDay}}</span>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="second_div">
            <mat-card class="second_maincard">
                <mat-card-title>
                    {{'VEHICLE_PAYMENT.PAYMENT'|translate}}
                </mat-card-title>
                <mat-divider></mat-divider>
                <form [formGroup]="bookingForm">


                    <div formGroupName="stripeTransactionDetails" class="row_fields" fxLayout="row" fxLayoutGap="10px">
                        <mat-form-field floatLabel="always" class="example-full-width" appearance="outline"
                            fxFlex="100">
                            <mat-label>{{'VEHICLE_PAYMENT.CARD_NO'|translate}}</mat-label>
                            <input matInput mask="0000 0000 0000 0000" [thousandSeparator]="' '"
                                thousandSeparatorPlaceholder="'0'" [showMaskTyped]="true" [decimalMarker]="'.'"
                                [allowNegativeNumbers]="false" placeholder="XXXX-XXXX-XXXX-XXXX" name="card_number"
                                formControlName="card_number" required>
                        </mat-form-field>
                    </div>


                    <div formGroupName="stripeTransactionDetails" class="row_fields" fxLayout="row" fxLayoutGap="10px">
                        <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
                            <mat-label>{{'VEHICLE_PAYMENT.EXPIRY_DATE'|translate}}</mat-label>
                            <input matInput placeholder="Expiry Date" name="Expiry_date" mask="00/00/0000"
                                formControlName="expiry_date" required>
                        </mat-form-field>

                        <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
                            <mat-label>CVV</mat-label>
                            <input matInput placeholder="CVV" name="cvv" mask="000" formControlName="cvv" required>
                        </mat-form-field>

                    </div>
                </form>
            </mat-card>
        </div>
    </div>
    <div class="button_field" fxLayout="row" fxLayoutGap.xs="10px">
        <button class="btn" mat-button (click)="back()">{{'VEHICLE_PAYMENT.BACK'|translate}} </button>
        <button class="button" mat-button (click)="submit()">{{'VEHICLE_PAYMENT.PAY'|translate}}</button>
    </div>
</div>