.row_fields {
    justify-content: center;
}

.MainContainer {
    max-width: 75%;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}


form {
    padding: 20px;
}

.first-card-content {
    margin: 15px;
    text-transform: capitalize;

    .p3 {
        color: #3D5974;
        font-size: 14px;
        font-weight: 600;
    }

    .p1 {
        color: #3D5974;
        font-size: 14px;
        font-weight: 400;
    }

    .features {
        color: #3D5974;
        text-transform: capitalize;
        margin-left: -12px;
        display: flex;
        padding: 10px 0px;

        span {
            display: flex;
            align-items: center;

            img {
                width: 34.8px;
                height: 16.79px;
                color: #59646F;

            }
        }

    }
}

.first_main-card {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

mat-card-title {
    font-size: 18px !important;
    padding: 5px 20px;
}

.mat-mdc-card {
    box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
}

.vehicle-image {
    max-width: 250px;
    max-height: 245px;
    width: 100%;
    height: 100%;

    img {
        width: 96%;
        height: 96%;
        padding: 5px;
        border-radius: 15px;
    }
}

.detailsContainer-div {
    display: flex;
    flex-direction: column;
}


.detailsContainer-div .p1 {
    padding: 5px 0px;
}

.price_p1 {
    color: #212529;
    font-size: 24px;
    font-weight: 550;
    padding: 15px 0px;
}


.button_field {
    justify-content: space-between;
    padding-top: 20px;
}

.btn {
    color: #125893 !important;
    background: #FFFFFF !important;
    width: 166px;
    height: 54px;
    border: 2px solid #125893;
    border-radius: 8px;

}

.btn:hover {
    color: #FFFFFF !important;
    background: #125893 !important
}

.button {
    width: 100%;
    max-width: 185px;
    height: 54px;
    border-radius: 8px;
    background: #125893 !important;
    color: #FFFFFF !important;
}




@media (max-width: 844px) {
    .MainContainer {
        padding: 5px 20px;
        height: 100px;
    }

    .first_main-card {
        height: auto;
        width: auto;
        flex-direction: column;
    }


    .vehicle-image {
        display: flex;
        flex-direction: row;
        position: relative;
        max-width: none;
        max-height: none;


    }

    .vehicle-image img {
        width: 100%;
        height: 100%;
        padding: 5px;
        border-radius: 20px;
    }

    .features {
        color: #3D5974;
        text-transform: capitalize;
        margin-left: -12px;
    }

    .features img {
        width: 34.8px;
        height: 16.79px;
        color: #59646F;

    }

}