<div *ngIf="isLoading" class="loader-container">
  <mat-spinner></mat-spinner>
</div>
<div class="app_container">
  <div class="header_content">
    <app-header></app-header>
  </div>
  <div class="main_containerDiv">

    <div [ngClass]="getTitleClass()" *ngIf="title.length != 0">
      <!-- <div class="contentBox"> -->
      <img src="../../../assets/images/header-section.png" />
      <!-- <div class="title"> -->
      <div [ngClass]="title.length === 2 ? 'title_small': 'title'">
        <h1>{{title[0] | translate }}</h1>
        <ul *ngIf="title.length === 3 || title.length === 4 ">
          <li>{{title[1] | translate}}</li>
          <li><span>{{title[2] | translate}}</span></li>
        </ul>
        <p *ngIf="title.length === 2 ">{{title[1] | translate}}</p>
      </div>
    </div>

    <div class="overlayContent">
      <div class="contain_page">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <div class="footer_content">
    <app-footer></app-footer>
  </div>
</div>