.form-wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 10px !important;
    align-items: center;
}


.main_detailsContainer {
    display: flex;
    justify-content: space-evenly;
}

.first-card-content {
    padding: 10px 0px;
}

.mat-div1 div:nth-child(2) {
    transform: translate3D(0, -1px, 0) scale(1.25);
    transition: all .5s ease;
    cursor: pointer;
}

.mat-div1 {
    padding-top: 70px;
}

.mat_div2 {
    padding: 70px;
    padding-top: 0;
}

.mat-mdc-card-content {
    padding: 0px !important;
}

mat-divider {
    color: #B1B1B1;
    border-left-width: 1px;
    border-left-style: solid;
    border-top-width: 0px !important;
    border-top-style: none !important;

}

.p2 img {
    width: 34.8px;
    height: 16.79px;
    color: #59646F;

}


img {
    width: 100%;
    height: 100%;
    border-radius: 10px
}

.card-image {
    display: flex;
    position: relative;
    justify-content: center;
    min-width: 110px;
    min-height: 120px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.container_div {
    border-style: solid;
    border-color: #B1B1B1;
    position: relative;
    height: fit-content;
    display: block;
    width: 970px;
}

.p1 {
    color: #3D5974;
    width: 59px;
    height: 28px;

}

.p2 {
    color: #3D5974;
    padding: 15px 0px;
    display: flex;
}

.p2 span {
    display: flex;
    align-items: center;
}

.p3 {
    font-size: 30px;
    font-weight: 600;
    color: #000000;
}

.dashboard-card-content {
    padding: 0px !important;
}

.container_div .card_content {
    width: 100%;
    text-transform: capitalize;

}

.second_box {
    display: flex;
    padding: 40px;
    align-items: center;
}

.button_field {
    justify-content: space-between;
    padding-top: 20px;
}

.btn {
    color: #125893 !important;
    background: #FFFFFF !important;
    width: 166px;
    height: 45px;
    border: 2px solid #125893;
    border-radius: 8px;

}

.btn:hover {
    color: #FFFFFF !important;
    background: #125893 !important
}

.button {
    width: 100%;
    max-width: 185px;
    height: 45px;
    border-radius: 8px;
    background: #125893 !important;
    color: #FFFFFF !important;
}

.slick-slider {
    padding: 30px;
    width: 100%;
    height: 350px;
    margin: auto;
}




.mat-slide {
    padding: 20px !important;
}



@media (max-width: 844px) {
    .form-wrapper {
        height: 347px;
    }




    .container_div {
        height: fit-content;
        width: -webkit-fill-available;

        .row_fields {
            padding: 20px;
        }

        .card_content {
            width: -webkit-fill-available;

        }
    }

    .mat-div1 {
        padding-top: 30px !important;
    }

    .mat_div2 {
        padding: 35px !important;
    }


}

.slick-slide>div {
    transform: scale(.5);
    transition: transform .3s cubic-bezier(.4, 0, .2, 1);


}

.slick-center div {
    transform: scale(1.1);
}

.slide-image {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
}

.slide-image img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    border: 2px solid #fff;
    object-fit: contain;

}