<div class="form-wrapper">
    <ngx-slick-carousel class="detail_carousel" #slickModal="slick-carousel" [config]="slideConfig"
        (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)">

        <div ngxSlickItem *ngFor="let slides of slide" class="carousel">
            <div class="mat-slide">
                <div class="slide-image">
                    <img [src]="getImage(slides.img)" />
                </div>
            </div>
        </div>

    </ngx-slick-carousel>



    <div class="mat_div2">
        <mat-card class="container_div">
            <div class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="5px">
                <mat-card-content class="card_content">
                    <form [formGroup]="vehicleDetail" class="mat-list form">
                        <div class="main_detailsContainer" fxLayout="row" fxLayout.xs="column">
                            <div class="first-card-content">
                                <div class="first-card-title" style="padding: 0px 10px;"><strong>{{vehicleBrand}} -
                                    </strong>
                                    <span class="p1"> {{vehicleData.model}}</span>
                                </div>
                                <div class="p2">
                                    <span> <img src="../../../../assets/images/iconDiesel.svg.svg" />
                                        {{vehicleData.motorization}}</span>
                                    <span> <img src="../../../../assets/images/iconTransmission.svg.svg" />
                                        {{vehicleData.gearBox}}</span>
                                    <span> <img src="../../../../assets/images/Group 6550.svg" />
                                        {{vehicleData.noOfSeats}} Seater</span>
                                </div>
                                <div class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px"
                                    fxLayoutGap.xs="5px">
                                    <mat-form-field floatLabel="always" class="example-full-width" appearance="outline"
                                        fxFlex="50">
                                        <mat-label>{{'VEHICLE_SEARCH.START_DATE' | translate}}</mat-label>
                                        <input matInput [matDatepicker]="picker" [min]="minDate"
                                            (dateChange)="start($event)"
                                            placeholder="{{'VEHICLE_SEARCH.START_DATE' | translate}}" name="startDate"
                                            formControlName="bookingstartDate" required>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                        <mat-error
                                            *ngIf="vehicleDetail.controls['bookingstartDate'].errors?.['required']">{{'ERROR_MSG.START_DATE_REQ'|
                                            translate}}
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field floatLabel="always" class="example-full-width" appearance="outline"
                                        fxFlex="50">
                                        <mat-label>{{'VEHICLE_SEARCH.END_DATE' | translate}}</mat-label>
                                        <input matInput [matDatepicker]="picker1" [min]="minenddate"
                                            placeholder="{{'VEHICLE_SEARCH.END_DATE' | translate}}"
                                            formControlName="bookingendDate" name="endDate" required>
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                        <mat-error
                                            *ngIf="vehicleDetail.controls['bookingendDate'].errors?.['required']">{{'ERROR_MSG.END_DATE_REQ'|
                                            translate}}</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px"
                                    fxLayoutGap.xs="5px">
                                    <mat-form-field floatLabel="always" class="example-full-width" appearance="outline"
                                        fxFlex="33">
                                        <mat-label>{{'SHARE.STATE' | translate}}</mat-label>
                                        <mat-select placeholder="{{'SHARE.STATE' | translate}}"
                                            formControlName="stateId" name="stateId"
                                            (selectionChange)="onChangeCity($event.value)" required>
                                            <mat-option *ngFor="let state of state" [value]="state.id">
                                                {{state.name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error
                                            *ngIf="vehicleDetail.controls['stateId'].errors?.['required']">{{'ERROR_MSG.STATE_REQ'|
                                            translate}}</mat-error>
                                    </mat-form-field>
                                    <mat-form-field floatLabel="always" class="example-full-width" appearance="outline"
                                        fxFlex="33">
                                        <mat-label>{{'SHARE.CITY' | translate}}</mat-label>
                                        <mat-select placeholder="{{'SHARE.CITY' | translate}}" formControlName="city"
                                            name="city" required>
                                            <mat-option *ngFor="let cityData of city" [value]="cityData.id">
                                                {{cityData.name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error
                                            *ngIf="vehicleDetail.controls['city'].errors?.['required']">{{'ERROR_MSG.CITY_REQ'|
                                            translate}}</mat-error>
                                    </mat-form-field>
                                    <mat-form-field floatLabel="always" class="example-full-width" appearance="outline"
                                        fxFlex="33">
                                        <mat-label>{{'SHARE.ZIPCODE' | translate }}</mat-label>
                                        <input placeholder="{{'SHARE.ZIPCODE' | translate }}" matInput
                                            formControlName="postalCode" name="postalCode" required>
                                        <mat-error
                                            *ngIf="vehicleDetail.controls['postalCode'].errors?.['required']">{{'ERROR_MSG.ZIP_CODE_REQ'|
                                            translate}}</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <mat-divider></mat-divider>
                            <div class="second_box">
                                <p class="p3">{{vehicleData.ratePerDay}}</p>
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </div>
        </mat-card>
        <div class="button_field" fxLayout="row" fxLayoutGap.xs="10px">
            <button class="btn" mat-button (click)="back()"> {{'SHARE.CANCEL' | translate}} </button>
            <button class="button" mat-button (click)="setData()">PROCEED</button>
        </div>
    </div>
</div>