.card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    border-radius: 10px !important;

}

.card-image {
    display: flex;
    position: relative;
    justify-content: center;
}

.slide-image {
    display: flex;
    flex-direction: row;
    position: relative;
}

.slide-image img {
    width: 175px;
    height: 160px;
    padding: 5px;
    border-radius: 20px;
}

.background-card {
    background: #FFFFFF;
    position: relative;
    height: 394px;
    width: 835px;
    display: block;
    margin: -309px auto 0 260px;
}

.resetButton {
    text-align: end;

    span {
        color: #125893;
        font-weight: 500;
        cursor: pointer;
        font-size: 0.8125rem;
        padding: 4px 5px;
    }
}

mat-card-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    font-size: 24px;
    font-weight: 500;
    line-height: 19px;
}

form {
    padding: 20px;
}


.btn_div {
    text-align: center;
    width: 100%;
}

.btn_sort {
    display: flex;
    flex-direction: row-reverse;
    color: #3D5974;
}

.btn-search {
    min-width: 250px;
    height: 54px;
    border-radius: 8px;
    background-color: #125893 !important;
    color: #FFFFFF !important;
}

.mat-mdc-card {
    border-radius: 8px !important;
}

// .btn-select {
//     height: 54px;
//     border-radius: 8px;
//     width: 310px;
//     background-color: #125893;
//     color: #FFFFFF !important;
//     height: 54px;
//     border-radius: 8px;
// }

.heading_div {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;

    .pack_heading {
        font-size: 24px;
        line-height: 3.167;
        font-weight: 400;
        line-height: 1.167;
        color: rgba(0, 0, 0, 0.87)
    }
}

.vehicleDetail_div {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    top: 10px;
}

h2 {
    font-size: 24px;
    font-weight: 550;
    position: relative;
    top: 10px;

}

.first-card-content {
    margin: 25px;
    // text-transform: capitalize;
}

.first-card-content .p1 {
    color: #3D5974;
    // text-transform: capitalize;

}

.features {
    color: #3D5974;
    text-transform: capitalize;
    margin-left: -12px;
    display: flex
}

.features span {
    display: flex;
    align-items: center;
}

.features img {
    width: 34.8px;
    height: 16.79px;
    color: #59646F;

}


.slide-card-content .p3 {
    color: #3D5974;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

}


.slide-card-content {
    margin: 20px;
}

.slide-card-content .p1 {
    color: #125893;
    font-size: 14px;
    font-weight: 550;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}

.first-card-content .p2 {
    color: #212529;
    font-size: 24px;
    font-weight: 700;
}

.price_p {
    color: #212529;
    font-size: 24px;
    font-weight: 550;
    padding: 15px 0px;
}

.second_card_content {
    margin: 25px;
}

.main_listDiv {
    width: 364px !important;
    padding: 20px !important;
}

.mat-card-list {
    background: #FFFFFF;
    box-shadow: 4px 4px 8px rgba(241, 229, 229, 0.09);
    border-radius: 10px;
}

.mat-list {
    padding: 40px !important;
}

.mat-slide {
    padding: 20px !important;
}

.p2 {
    color: #7E7E7E !important;
    font-size: 11px !important;

}

img {
    width: 270px;
    height: 142px;

}

.btn_div {
    text-align: center;
}

.btn-book {
    background-color: #125893 !important;
    color: #FFFFFF !important;
    width: -webkit-fill-available;
    height: 59.77px;
    border-radius: 8px;

}

.slick-slider {
    width: 88%;
    margin: auto;

}


.mat-badge.demo-section.mat-badge-above.mat-badge-after.mat-badge-medium {
    position: absolute;
    top: 5%;
    right: 6%;

    .mat-badge-content {
        width: 81px !important;
        height: 30px !important;
        line-height: 22px;
        background: #09A41E !important;
        border-radius: 0px 0px 12px 12px;
    }
}

@media (max-width: 1360px) {

    .background-card {
        height: fit-content;
        width: -webkit-fill-available;
        margin: -217px auto 0 30px;
    }
}

@media (max-width: 1024px) {
    .card-wrapper {
        height: 100px;
    }

    .mat-badge.demo-section.mat-badge-above.mat-badge-after.mat-badge-medium {
        top: 3% !important;
        right: 10% !important;
    }


}

@media (max-width: 844px) {
    .card-wrapper {
        height: 100px;
    }

    .background-card {
        height: fit-content;
        width: -webkit-fill-available;
        margin: -140px auto 0 0px;
    }

    .vehicleDetail_div {

        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .btn-search {
        width: auto;
        margin: 0;
    }

    .btn-book {
        width: -webkit-fill-available;
        margin: 0;
    }

    .btn-select {
        height: 54px;
        border-radius: 8px;
        width: auto;
        background-color: #125893;
        color: #FFFFFF !important;
        height: 54px;
        border-radius: 8px;
    }

    .mat-list {
        padding: 0 !important;
    }


    .slide-image {
        display: flex;
        flex-direction: row;
        position: relative;
        flex-direction: column;
    }


    img {
        width: -webkit-fill-available;
        height: 142px;
    }

    .slide-image img {
        width: -webkit-fill-available;
        height: 140px;
        padding: 5px;
        border-radius: 20px;
    }
}