<div class="card-wrapper">
    <mat-card class="background-card">
        <mat-card-title>
            {{'VEHICLE_LIST.SEARCH_CAR' | translate}}
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
            <form [formGroup]="vehicleSearch" class="mat-list form">
                <div class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px" fxLayoutGap.xs="5px">
                    <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
                        <mat-label>{{'VEHICLE_SEARCH.VEHICLE_CATEGORY' | translate}}</mat-label>
                        <mat-select placeholder="{{'VEHICLE_SEARCH.VEHICLE_CATEGORY' | translate}}"
                            formControlName="vehicleCategory" name="vehicleCategory">
                            <mat-option *ngFor="let category of vehicleCategory" [value]="category.id">
                                {{category.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
                        <mat-label>{{'VEHICLE_SEARCH.VEHICLE_TYPE' | translate}}</mat-label>
                        <mat-select placeholder="{{'VEHICLE_SEARCH.VEHICLE_TYPE' | translate}}"
                            formControlName="vehicleType" name="vehicleType">
                            <mat-option *ngFor="let type of vehicleType" [value]="type.id">
                                {{type.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="row_fields" fxLayout="row" fxLayoutGap="15px" fxLayout.xs="column" fxLayoutGap.xs="5px">
                    <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
                        <mat-label>{{'VEHICLE_SEARCH.START_DATE' | translate}}</mat-label>
                        <input matInput [matDatepicker]="picker"
                            placeholder="{{'VEHICLE_SEARCH.START_DATE' | translate}}" name="startDate"
                            formControlName="startDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
                        <mat-label>{{'VEHICLE_SEARCH.END_DATE' | translate}}</mat-label>
                        <input matInput [matDatepicker]="picker1"
                            placeholder="{{'VEHICLE_SEARCH.END_DATE' | translate}}" formControlName="endDate"
                            name="endDate">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px" fxLayoutGap.xs="5px">
                    <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="33">
                        <mat-label>{{'SHARE.STATE' | translate}}</mat-label>
                        <mat-select placeholder="{{'SHARE.STATE' | translate}}" formControlName="stateId" name="stateId"
                            (selectionChange)="onChangeCity($event.value)">
                            <mat-option *ngFor="let state of State" [value]="state.id">
                                {{state.name}}
                            </mat-option>
                        </mat-select>

                    </mat-form-field>
                    <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="33">
                        <mat-label>{{'SHARE.CITY' | translate}}</mat-label>
                        <mat-select placeholder="{{'SHARE.CITY' | translate}}" formControlName="city" name="city">
                            <mat-option *ngFor="let cityData of city" [value]="cityData.id">
                                {{cityData.name}}
                            </mat-option>
                        </mat-select>

                    </mat-form-field>
                    <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="33">
                        <mat-label>{{'SHARE.ZIPCODE' | translate }}</mat-label>
                        <input placeholder="{{'SHARE.ZIPCODE' | translate }}" matInput formControlName="postalCode"
                            name="postalCode">
                    </mat-form-field>
                </div>
                <div class="resetButton" (click)="resetForm()">
                    <span>RESET</span>
                </div>
                <div class="btn_div">
                    <button type="submit" class="btn-search" mat-raised-button
                        (click)="vehicleList()">{{'VEHICLE_LIST.SEARCH_NOW' | translate}}
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

    <div class="vehicleDetail_div">
        <h2> {{noOfVehicle}} {{'VEHICLE_LIST.CAR_AVAILABLE' | translate}} </h2>
        <button mat-button class="btn_sort" [matMenuTriggerFor]="sortmenu">Sort
            By<mat-icon>expand_more</mat-icon></button>
        <mat-menu #sortmenu="matMenu">
            <button mat-menu-item routerLink="">Price(highest first) </button>
            <button mat-menu-item routerLink="">Price(lowest first)</button>
        </mat-menu>
    </div>
    <div *ngIf="vehicles == undefined || vehicles.length === 0" class="empty-result">
        <p>No Data Found.</p>
    </div>

    <div class="mat-list" fxLayout="row wrap" fxLayoutGap="15px" fxLayoutGap.xs="15px" *ngIf="vehicles != undefined">
        <div class="main_listDiv" fxFlex="30" fxFlex.sm="45" fxFlex.xs="100" *ngFor="let card of vehicles;let i=index"
            style="margin:0 !important;max-width:inherit">
            <div class="mat-card-list">
                <mat-card class="dashboard-card card-image">
                    <div class="card-image">
                        <img [src]="getImage(card.image_url1)" />
                    </div>
                    <div class="first-card-content">
                        <p><strong>{{card.vehicleBrandId}}-</strong><span class="p1">{{card.model}}</span></p>
                        <div class="features">
                            <span> <img src="../../../../assets/images/iconDiesel.svg.svg" />
                                {{card.motorization}}</span>
                            <span> <img src="../../../../assets/images/iconTransmission.svg.svg" />
                                {{card.gearBox}}</span>
                            <span> <img src="../../../../assets/images/Group 6550.svg" />
                                {{card.noOfSeats}} Seater</span>
                        </div>
                        <p class="price_p">{{card.ratePerDay}}</p>
                        <p style="margin: 0px !important;">{{card.mileage}} kms | Prices <span class="p1">exclude</span>
                            fuel cost
                        </p>
                    </div>
                    <div class="btn_div">
                        <button type="submit" class="btn-book" mat-raised-button
                            routerLink="/vehicle-detail/{{card.id}}">{{'VEHICLE_LIST.BOOK_NOW' |
                            translate}}</button>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>

    <div class="heading_div" *ngIf="slides">
        <mat-divider></mat-divider>
        <h3 class="pack_heading">Packages</h3>
    </div>

    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
            <div class="mat-slide slider">
                <div class="mat-card-list">
                    <mat-card class="dashboard-card slide-image">
                        <div class="slide-image">
                            <img [src]="getImage(slide.image_url1)" />
                        </div>
                        <div class="slide-card-content">
                            <div matBadge="DT 400" matBadgeOverlap="false" class="demo-section"></div>
                            <p><span class="p1">Tour Pacakages</span></p>
                            <p class="p2"><span class="p3">Duration -</span>3 Days</p>
                            <p><span class="p3">Available On -</span><span class="p2">Monday, Wednesday</span></p>
                            <button type="submit" class="btn-select" mat-raised-button>{{'VEHICLE_LIST.SELCET_NOW' |
                                translate}}</button>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </ngx-slick-carousel>
</div>