<div class="form-wrapper">
  <mat-card class="mat-cart-wrapper">
    <form [formGroup]="profile" class="profileForm">

      <div class="user-details">
        <div class="profile_image">
          <label for="fileInput" class="custom-file-upload">
            <mat-icon class="material-symbols-outlined">photo_camera</mat-icon>
          </label>
          <input type="file" class="fileInput" accept="image/*" id="fileInput" (change)="imageUpload($event, id)">
          <img class="image" [src]="imageUrl" *ngIf="imageUrl" alt="Uploaded Image">
        </div>
        
        <div class="user-image-details">
          <p class="user-name"><strong>{{userData?.first_name}} {{userData?.last_name}}</strong></p>
          <p class="user-role">{{userData?.role==='3'?'Customer':''}}</p>
          <p class="user-country">{{userData?.countryId}}</p>
        </div>
      </div>

      <mat-divider class="divider"></mat-divider>
      <mat-card-header class="header">
        <mat-card-title>
          Personal Information
        </mat-card-title>
        <button mat-button (click)="validForm()" class="editForm"> <mat-icon>edit</mat-icon></button>
      </mat-card-header>

      <mat-card-content class="mat-list">
        <div class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="0px">
          <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
            <mat-label>{{'REGISTER.FNAME' | translate}}</mat-label>
            <input matInput placeholder="Enter first name" formControlName="first_name" name="first_name" required>
            <mat-error
              *ngIf="profile.controls['first_name']?.errors?.['required']">{{'ERROR_MSG.FIRST_NAME_REQ'|translate}}</mat-error>
          </mat-form-field>
          <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
            <mat-label>{{'REGISTER.LNAME' | translate}}</mat-label>
            <input matInput placeholder="Enter last name" name="LastName" formControlName="last_name" required>
            <mat-error *ngIf="profile.controls['last_name']?.errors?.['required']">{{'ERROR_MSG.LAST_NAME_REQ'
              |translate}}</mat-error>
          </mat-form-field>
        </div>
        <div class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="0px">
          <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
            <mat-label>{{'REGISTER.EMAIL' | translate}}</mat-label>
            <input matInput placeholder="email" name="email" formControlName="email" required>
            <mat-error *ngIf="profile.controls['email']?.errors?.['required']">{{'ERROR_MSG.EMAIL_REQ' |
              translate}}</mat-error>
          </mat-form-field>
          <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
            <mat-label>Phone Number</mat-label>
            <input matInput placeholder="Phone Number" formControlName="phone" name="phone" required>
            <mat-error
              *ngIf="profile.controls['phone']?.errors?.['required']">{{'ERROR_MSG.PHONE_NUMBER_REQ'|translate}}</mat-error>
          </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <h2 class="company_text"><strong>{{'REGISTER.COMPANY'|translate}}</strong></h2>
        <div class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="0px">
          <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
            <mat-label>{{'REGISTER.COM_NAME' | translate}}</mat-label>
            <input matInput placeholder="Please Select" name="name" formControlName="name">
            <!-- <mat-error *ngIf="profile.controls['company_name']?.errors?.['required']">{{'ERROR_MSG.ORGANIZATION_NAME_REQ'|
              translate}}</mat-error> -->
          </mat-form-field>
          <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
            <mat-label>{{'REGISTER.COM_ADD' | translate}}</mat-label>
            <input matInput placeholder="Please Enter" formControlName="company_address" name="company_address">
            <!-- <mat-error  *ngIf="profile.controls['company_address']?.errors?.['required']">{{'ERROR_MSG.COMPANY_ADDRESS_REQ'|
              translate}}</mat-error> -->
          </mat-form-field>
        </div>
        <div class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="0px">
          <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
            <mat-label>{{'REGISTER.COUNTRY' | translate}}</mat-label>
            <mat-select placeholder="Please Select" formControlName="company_countryId" name="company_countryId"
              (selectionChange)="onChangeState($event.value)">
              <mat-option *ngFor="let con of countries" [value]="con.id">
                <span class="fi fi-{{con.sortname | lowercase}}"></span>
                {{con.name}}
              </mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="profile.controls['company_countryId']?.errors?.['required']">{{'ERROR_MSG.COUNTRY_REQ'|
              translate}}</mat-error> -->
          </mat-form-field>
          <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
            <mat-label>{{'REGISTER.STATE' | translate}}</mat-label>
            <mat-select placeholder="Please Select" formControlName="company_stateId" name="company_stateId"
              (selectionChange)="onChangeCity($event.value)">
              <mat-option *ngFor="let state of state" [value]="state.id">
                {{state.name}}
              </mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="profile.controls['company_stateId']?.errors?.['required']">{{'ERROR_MSG.STATE_REQ'|
              translate}}</mat-error> -->
          </mat-form-field>
        </div>
        <div class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="0px">
          <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
            <mat-label>{{'REGISTER.CITY' | translate}}</mat-label>
            <mat-select placeholder="Please Select" formControlName="company_city" name="company_city">
              <mat-option *ngFor="let cityData of city" [value]="cityData.id">
                {{cityData.name}}
              </mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="profile.controls['company_city']?.errors?.['required']">{{'ERROR_MSG.CITY_REQ'|
              translate}}</mat-error> -->
          </mat-form-field>
          <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
            <mat-label>{{'REGISTER.ZIPCODE' | translate}}</mat-label>
            <input matInput placeholder="Zip Code" formControlName="company_postalCode" name="company_postalCode">
            <!-- <mat-error *ngIf="profile.controls['company_postalCode']?.errors?.['required']">{{'ERROR_MSG.ZIP_CODE_REQ'|
              translate}}</mat-error> -->
            <mat-error *ngIf="profile.controls['company_postalCode']?.errors?.['pattern']">Only Number Values Are
              Allowed</mat-error>
          </mat-form-field>
        </div>
        <div class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="0px">
          <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
            <mat-label>{{'REGISTER.SIREN_NO' | translate}}</mat-label>
            <input matInput placeholder="SIREN Number" name="sirenno" formControlName="sirenno">
            <!-- <mat-error *ngIf="profile.controls['sirenno']?.errors?.['required']">{{'ERROR_MSG.SIREN_REQ'|
              translate}}</mat-error> -->
          </mat-form-field>
        </div>
        <div class="buttonSave">
          <button class="btn-block" color="primary" type="submit" (click)="submit()">Save</button>
        </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>