.mat-cart-wrapper {
    border: none !important;
    box-shadow: none !important;
    margin: 20px;

    .user-details {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .profile_image {
            cursor: pointer;
            position: relative;
            img {
                border-radius: 50%;
                width: 160px;
                height: 160px;
            }

            .fileInput {
                display: none;
            }

            .custom-file-upload {
                height: 30px;
                width: 32px;
                cursor: pointer;
                position: absolute;
                text-align: center;
                display: block;
                bottom: 10px;
                right: 5px;
                border-radius: 50%;
                background: #D0DEE9;
                color: #125893;
                border: 1px solid #125893;

                .mat-icon {
                    text-align: center;
                    margin: 0 auto;
                    position: relative;
                    top: 3px;
                }
            }
        }

        .user-image-details {
            margin-left: 20px;

            .user-name {
                font-size: 20px;
            }

            .user-role,
            .user-country {
                font-size: 14px;
                color: #7E7E7E;
            }

            p {
                margin: 0 0 5px !important;
            }
        }
    }

    .divider {
        margin: 20px 0px;
    }

    .header {
        .editForm {
            mat-icon {
                color: #125893;
            }
        }
    }

    .mat-list {
        .company_text {
            padding: 15px 0;
        }

        .buttonSave {
            text-align: right;
            padding-top: 1pc;

            .btn-block {
                width: 10%;
                height: 35px;
            }

        }
    }
}