<div class="footer_mainContainer">
       <div class="footer left_sideConatiner" fxLayout="row" fxLayout.xs="column">
              <div class="footer left_side">
                     <span class="footer_condition">
                            <a class="footer_termsCondition" href="terms-condition" target="_blank">{{'TITLE.TANDC' |
                                   translate}} </a>
                            |
                            <a class="footer_privacyPolicy" href="privacy-policy" target="_blank">{{'TITLE.PRIVACY' |
                                   translate}}</a>
                     </span>
              </div>
              <div class="footer right_sideContainer">
                     <span>{{message}}</span>
              </div>
       </div>
</div>