.card-wrapper {
  display: flex;
  align-items: flex-start;
  margin: 20px;
  min-height: 200px;
  border-radius: 10px !important;

}

mat-card-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px
}

h2 {
  font-size: 28px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
  text-transform: capitalize;
  font-family: var(--font-family);
  line-height: 1.2;
  text-align: center;
  color: #125893;
  margin-bottom: 32px;
}

.overlay-card {
  position: absolute;
  width: 624px;
  height: 480px;
  z-index: 2;
  right: 60px;
  top: -85px;
  border: 1px;
  border-radius: 8px;
  padding: 40px 20px 0;
}

.background-card {
  width: 1000px;
  background: #FFFFFF;
  position: relative;
  height: 235px;
  margin: -200px auto 0 160px;
}

.role_area {
  flex-direction: column;
  display: flex;
  width: 20%;
  padding: 60px 50px 0px 50px;
}

.role_area p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: center;
  line-height: 40px;
  margin: 0 !important;
  color: #7E7E7E;
}

img {
  padding: 0 40px;
}

.btn_signup {
  width: 180px;
  height: 50px;
  border: 2px solid #125893;
  color: #125893 !important;
  border-radius: 8px;
}

.login_btn {
  display: none;
}

.register a {
  color: #125893;
  font-weight: 600;
}

.register p {
  color: #7E7E7E !important;
  display: inline-block;
}

.link {
  text-align: right;
  margin-bottom: 20px;
}

.link a {
  color: #125893 !important;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none !important;
}

.submit_btn {
  text-align: center;
  padding-top: 1pc;
}

mat-checkbox a {
  color: #125893;
  font-weight: 500;
}

@media (max-width: 766px) {
  .overlay-card {
    position: absolute;
    width: 100%;
    height: fit-content;
    z-index: 2;
    left: 0;
    right: 0;
    top: -168px;
    border: 1px;
    border-radius: 8px;
    padding: 20px;
  }

  .background-card {
    width: auto;
    height: 100%;
    // min-height: 700px;
    margin: 0;
    box-shadow: none;
  }

  .role_area {
    display: none;

  }

  .card-wrapper {
    display: contents;
    align-items: flex-start;
    border-radius: 10px !important;
  }

  .login_btn {
    margin-top: 25px;
    color: #7E7E7E !important;
    display: flex;
    justify-content: center;

    a {
      color: #125893;
      font-weight: 600;
    }

    p {
      color: #7E7E7E !important;
      display: inline-block;
    }
  }
}

@media (min-width: 768px) and (max-width:1024px) {
  .overlay-card {
    position: absolute;
    width: 100%;
    height: fit-content;
    z-index: 2;
    left: 0;
    right: 0;
    top: -100px;
    border: 1px;
    border-radius: 8px;
    padding: 20px;
  }

  .background-card {
    width: auto;
    height: auto;
    margin: 0;
  }

  .role_area {
    display: none;
  }

  .card-wrapper {
    display: contents;
    align-items: flex-start;
    border-radius: 10px !important;
  }

  .login_btn {
    margin-top: 25px;
    color: #7E7E7E !important;
    display: flex;
    justify-content: center;
    a {
      color: #125893;
      font-weight: 600;
    }

    p {
      color: #7E7E7E !important;
      display: inline-block;
    }
  }
}