<div class="card-wrapper">
    <mat-card class="background-card">

        <div class="role_area">
            <img src="../../../../assets/images/OCricle.svg" height="30px" width="100px" class="hidden-mobile" />
            <p class="text_account">Already have an account? </p>
            <button class="btn_signup" mat-raised-button routerLink="/user/login">{{'LOGIN.SIGN'
                |translate}}</button>
        </div>
        <mat-card class="overlay-card">
            <h2> Sign Up </h2>
            <mat-card-content>
                <form [formGroup]="registerForm">
                    <div class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="0px">
                        <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
                            <mat-label>{{'REGISTER.FNAME'|translate}}</mat-label>
                            <input matInput placeholder="{{'REGISTER.FNAME'|translate}}" formControlName="first_name"
                                name="first_name">
                            <mat-error
                                *ngIf="registerForm.controls['first_name']?.errors?.['required']">{{'ERROR_MSG.FIRST_NAME_REQ'|translate}}</mat-error>
                        </mat-form-field>

                        <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
                            <mat-label>{{'REGISTER.LNAME'|translate}}</mat-label>
                            <input matInput placeholder="{{'REGISTER.LNAME'|translate}}" name="LastName"
                                formControlName="last_name" required>
                            <mat-error
                                *ngIf="registerForm.controls['last_name']?.errors?.['required']">{{'ERROR_MSG.LAST_NAME_REQ'|translate}}</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="0px">
                        <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
                            <mat-label>{{'REGISTER.EMAIL'|translate}}</mat-label>
                            <input matInput placeholder="{{'REGISTER.EMAIL'|translate}}" formControlName="email"
                                name="email" required>
                            <mat-error
                                *ngIf="registerForm.controls['email'].hasError('required')">{{'ERROR_MSG.EMAIL_REQ'|translate}}</mat-error>
                            <mat-error
                                *ngIf="registerForm.controls['email']?.errors?.['pattern']">{{'ERROR_MSG.INVALID_EMAIL_FORMAT'|translate}}</mat-error>
                        </mat-form-field>

                        <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
                            <mat-label>Phone Number</mat-label>
                            <input matInput placeholder="Phone Number" formControlName="phone" name="phone" required>
                            <mat-error
                                *ngIf="registerForm.controls['phone']?.errors?.['required']">{{'ERROR_MSG.PHONE_NUMBER_REQ'|translate}}</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="0px">
                        <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
                            <mat-label>{{'REGISTER.PW'|translate}}</mat-label>
                            <input matInput placeholder="{{'REGISTER.PW'|translate}}" name="password"
                                [type]="password? 'text' : 'password'" autocomplete="new-password"
                                formControlName="password" required>
                            <mat-icon matSuffix
                                (click)="passwordVisibilty()">{{password?'visibility':'visibility_off'}}</mat-icon>
                            <mat-error
                                *ngIf="registerForm.controls['password']?.errors?.['required']">{{'ERROR_MSG.PASS_REQ' |
                                translate}}</mat-error>
                            <mat-error
                                *ngIf="registerForm.controls['password']?.errors?.['pattern']">{{'ERROR_MSG.INVALID_PASSWORD'
                                | translate}}</mat-error>
                        </mat-form-field>

                        <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
                            <mat-label>{{'REGISTER.CONFPW'|translate}}</mat-label>
                            <input matInput placeholder="{{'REGISTER.CONFPW'|translate}}" name="confirmPassword"
                                [type]="confirmPassword? 'text' : 'password'" autocomplete="new-password"
                                formControlName="confirmPassword" required>
                            <mat-icon matSuffix
                                (click)="confirmPasswordVisibilty()">{{confirmPassword?'visibility':'visibility_off'}}</mat-icon>
                            <mat-error
                                *ngIf="registerForm.controls['confirmPassword']?.errors?.['required']">{{'ERROR_MSG.CONFIRM_PASS_REQ'
                                | translate}}</mat-error>

                            <mat-error
                                *ngIf="registerForm.controls['confirmPassword'].errors?.['confirmPasswordValidator']">{{'ERROR_MSG.PASSWORD_MISMATCH'
                                | translate}}</mat-error>
                        </mat-form-field>
                    </div>

                    <mat-checkbox floatLabel="always" class="status_check" formControlName="status" required>
                        {{'REGISTER.ACKNO' |translate}} <a routerLink="/user/terms-condition">{{'REGISTER.TNC' |
                            translate}}</a> ,
                        {{'REGISTER.AWA'|translate}}
                        <a routerLink="/user/privacy-policy">{{'REGISTER.PP'|translate}}</a>,{{'REGISTER.DESC'
                        |translate}}
                    </mat-checkbox>

                    <div class="submit_btn">
                        <button class="btn-block" color="primary" type="submit"
                            (click)="register()">{{'REGISTER.SIGNUP'|translate}}</button>
                    </div>

                    <div class="login_btn">
                        <p>{{'REGISTER.AHAA'|translate}}
                            <a routerLink="/user/login">{{'LOGIN.SIGN'|translate}}</a>
                    </div>

                </form>
            </mat-card-content>
        </mat-card>
    </mat-card>
</div>