/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

:root {
    --font-family: 'Plus Jakarta Sans', sans-serif !important;
    --border-radius: 8px;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-60 {
    margin-top: 60px !important;
}

.mt-70 {
    margin-top: 70px !important;
}

.mt-80 {
    margin-top: 80px !important;
}

.mt-90 {
    margin-top: 90px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-60 {
    margin-bottom: 60px !important;
}

.mb-70 {
    margin-bottom: 70px !important;
}

.mb-80 {
    margin-bottom: 80px !important;
}

.mb-90 {
    margin-bottom: 90px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.ml-10 {
    margin-left: 10px !important;
}

.ml-20 {
    margin-left: 20px !important;
}

.ml-30 {
    margin-left: 30px !important;
}

.ml-40 {
    margin-left: 40px !important;
}

.ml-50 {
    margin-left: 50px !important;
}

.ml-60 {
    margin-left: 60px !important;
}

.ml-70 {
    margin-left: 70px !important;
}

.ml-80 {
    margin-left: 80px !important;
}

.ml-90 {
    margin-left: 90px !important;
}

.ml-100 {
    margin-left: 100px !important;
}

.mr-0 {
    margin-right: 0 !important;
}

.mr-10 {
    margin-right: 10px !important;
}

.mr-20 {
    margin-right: 20px !important;
}

.mr-30 {
    margin-right: 30px !important;
}

.mr-40 {
    margin-right: 40px !important;
}

.mr-50 {
    margin-right: 50px !important;
}

.mr-60 {
    margin-right: 60px !important;
}

.mr-70 {
    margin-right: 70px !important;
}

.mr-80 {
    margin-right: 80px !important;
}

.mr-90 {
    margin-right: 90px !important;
}

.mr-100 {
    margin-right: 100px !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pt-10 {
    padding-top: 10px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.pt-30 {
    padding-top: 30px !important;
}

.pt-40 {
    padding-top: 40px !important;
}

.pt-50 {
    padding-top: 50px !important;
}

.pt-60 {
    padding-top: 60px !important;
}

.pt-70 {
    padding-top: 70px !important;
}

.pt-80 {
    padding-top: 80px !important;
}

.pt-90 {
    padding-top: 90px !important;
}

.pt-100 {
    padding-top: 100px !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pb-10 {
    padding-bottom: 10px !important;
}

.pb-20 {
    padding-bottom: 20px !important;
}

.pb-30 {
    padding-bottom: 30px !important;
}

.pb-40 {
    padding-bottom: 40px !important;
}

.pb-50 {
    padding-bottom: 50px !important;
}

.pb-60 {
    padding-bottom: 60px !important;
}

.pb-70 {
    padding-bottom: 70px !important;
}

.pb-80 {
    padding-bottom: 80px !important;
}

.pb-90 {
    padding-bottom: 90px !important;
}

.pb-100 {
    padding-bottom: 100px !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.pl-10 {
    padding-left: 10px !important;
}

.pl-20 {
    padding-left: 20px !important;
}

.pl-30 {
    padding-left: 30px !important;
}

.pl-40 {
    padding-left: 40px !important;
}

.pl-50 {
    padding-left: 50px !important;
}

.pl-60 {
    padding-left: 60px !important;
}

.pl-70 {
    padding-left: 70px !important;
}

.pl-80 {
    padding-left: 80px !important;
}

.pl-90 {
    padding-left: 90px !important;
}

.pl-100 {
    padding-left: 100px !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.pr-10 {
    padding-right: 10px !important;
}

.pr-20 {
    padding-right: 20px !important;
}

.pr-30 {
    padding-right: 30px !important;
}

.pr-40 {
    padding-right: 40px !important;
}

.pr-50 {
    padding-right: 50px !important;
}

.pr-60 {
    padding-right: 60px !important;
}

.pr-70 {
    padding-right: 70px !important;
}

.pr-80 {
    padding-right: 80px !important;
}

.pr-90 {
    padding-right: 90px !important;
}

.pr-100 {
    padding-right: 100px !important;
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.my-10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.my-20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.my-30 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.my-40 {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

.my-50 {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.my-60 {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
}

.my-70 {
    margin-top: 70px !important;
    margin-bottom: 70px !important;
}

.my-80 {
    margin-top: 80px !important;
    margin-bottom: 80px !important;
}

.my-90 {
    margin-top: 90px !important;
    margin-bottom: 90px !important;
}

.my-100 {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
}

html,
body {
    height: 100%;
    // overflow: hidden;
}

body {
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    background-color: #ffffff;


}


h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button,
a,
div,
table,
tr,
td,
th {
    font-family: var(--font-family) !important;
    margin: 0;
}

.header_content {
    max-height: 70px !important;
    height: 100vh;
    width: 100%;
    min-width: 70px !important;
    z-index: 999;
}

.hedaer_secondContainer {
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
    width: 100%;
    min-height: 70px;
    z-index: 999;
    align-items: center;
    justify-content: space-around;
}


.flag-container {
    .country-flag {
        min-height: 25px;
        border-radius: 40px;
        background-size: cover;
        height: 100%;
        min-width: 25px;
    }
}


.mat-mdc-form-field,
.mat-mdc-floating-label {
    color: rgb(126, 126, 126);
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font-family);
}

.btn-block {
    width: 33%;
    height: 45px;
    color: white !important;
    background: #125893 !important;
    text-align: center;
    border-radius: 8px;
    border-color: transparent;
    cursor: pointer;
}

.mat-checkbox-color.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background {
    border-color: rgb(233, 10, 10) !important;
    background-color: transparent;
}

.mat-mdc-card {

    box-shadow: 0px 5px 30px 7px #1258932E;

}

.cdk-overlay-connected-position-bounding-box {
    // top: 55px !important;
    right: 1% !important;

    .mat-mdc-menu-panel {
        // box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        box-shadow: 0px 5px 30px 7px #1258932E;
        ;
    }
}

mat-checkbox {
    min-width: 130px !important;
}

.mat-mdc-checkbox.mat-accent {
    --mdc-checkbox-selected-checkmark-color: #fff;
    --mdc-checkbox-selected-focus-icon-color: #125893;
    --mdc-checkbox-selected-hover-icon-color: #125893;
    --mdc-checkbox-selected-icon-color: #125893;
    --mdc-checkbox-selected-pressed-icon-color: #125893;
}

mat-card-header {
    padding: 20px !important;
    margin: 0 !important;
    justify-content: space-between;
}

mat-card-title {
    font-size: 22px !important;
    line-height: 32px !important;
    font-weight: 550 !important;
    text-transform: capitalize;
    color: #000000;
    margin: 0px !important;
    font-family: var(--font-family) !important;
}

.mat-mdc-text-field-wrapper {
    height: 50px !important;
}

.mdc-text-field {
    align-items: center;
}

.mat_tab_div {
    .mat-mdc-tab-labels {
        justify-content: center !important;
        height: 48px;
        background: #DBEEFF;
    }
}

.mat_tab_div .mat-mdc-tab-labels .mdc-tab:first-child::after {
    content: '';
    color: #B1B1B1;
    border-left-width: 1px;
    border-left-style: solid;
    position: relative;
    left: 18px;
    margin: 0 10px;
    border-top-width: 0px !important;
    border-top-style: none !important;

}

.mat_tab_div .mat-mdc-tab-labels .mdc-tab {
    padding-right: 10px !important;
}

.mat_tab_div .mat-mdc-tab-labels .mdc-tab:first-child .mdc-tab__text-label {
    margin-left: 20px;
}

mat-tab-group.mat_tab_div .mdc-tab-indicator .mdc-tab-indicator__content--underline {
    border-top-width: 6px !important;
}

mat-tab-group.mat_tab_div .mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline,
.mat-mdc-tab-link:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline {
    border-color: #125893;
    border-radius: 12px 12px 0 0;
    max-width: 55%;
    width: 100%;
}

.mat_snackbar--success {
    background-color: #FFFFFF;
    text-align: center;
    color: black !important;
}

.mat-icon--failure {
    color: #fafafa !important;
    width: 26px !important;
    background: #E70013;
    border: 1px solid #E70013;
    border-radius: 50%;
}

.mat-icon--success {
    color: white !important;
    background: green !important;
    border: 1px solid;
    border-radius: 12px;
}

.mat_snackbar--danger {
    background-color: #FFFFFF;
    text-align: center;
    color: black !important;
}

.mat-snack-bar-container {
    max-width: 200px !important;
}

.mdc-snackbar__surface {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.mat-mdc-tab .mdc-tab__text-label {
    color: #125893;

}

.mat-mdc-tab-group {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-top: -22px;
}

mat-tab-group:not(.mat_tab_div) .mdc-tab-indicator {
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    top: -20px !important;
}

mat-tab-group:not(.mat_tab_div) .mat-mdc-tab-header {
    width: auto !important;
    max-width: 100% !important;
}

mat-tab-group:not(.mat_tab_div) .mdc-tab-indicator .mdc-tab-indicator__content--underline {
    border-top-width: 8px !important;
    width: 78px;
    margin: 0 auto;
}

.mat-drawer-container.mat-drawer-container-has-open:not(.hedaer_secondContainer) {
    // width: 100vw !important;
    //  min-height: calc(100vh + 125px);
    min-height: 100vh;
    overflow-y: auto;
    background-color: transparent;
    z-index: 11;
    margin: 0;


}

.mat-drawer-content {
    overflow: hidden !important;
}

.mat-drawer-inner-container {
    width: 250px !important;
}


// .slick-initialized:not(.detail_carousel) .slick-prev:before {
//   ;
// }
.slick-slide:not(.slick-center) .mat-slide:not(.slider) .slide-image::before {
    content: '';
    background-image: linear-gradient(270deg, rgba(0, 0, 0, .5), transparent);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

.country-selector {
    opacity: 1 !important;
}

.slick-prev:before,
.slick-next:before {
    font-size: 20px;
    line-height: 1;
    color: #7E7E7E !important;
    opacity: 0.75;
}

.mdc-list-item {
    // padding: 0 !important;
    // display: block !important;
    // margin: 0  !important;

    .lang-title {
        margin-left: 10px;
    }
}

.headerMatMenu {
    span.mdc-list-item__primary-text {
        padding: 0 !important;
    }
}

.mat-mdc-form-field-infix {
    font-size: 13px;
    font-weight: 400;

}

.mat-mdc-form-field,
.mat-mdc-floating-label {
    top: 25px !important;
    color: rgb(126, 126, 126) !important;
    font-family: var(--font-family);
}

.mdc-notched-outline__notch label {
    font-size: 20px !important;
    font-weight: 600;
}

.slick-slide {
    margin-right: 2px !important;
}

.slick-next:before {
    content: '❯' !important;
}

.slick-prev:before {
    content: '❮' !important;
}

mat-tab-group:not(.mat_tab_div) .mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline,
.mat-mdc-tab-link:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline {
    border-color: #125893;
    border-radius: 0 0 12px 12px;
}

.mat-mdc-tab-header-pagination-controls-enabled .mat-mdc-tab-header-pagination {
    display: none !important;
}

.mat-mdc-form-field-subscript-wrapper {
    margin-bottom: 10px;
}

mat-form-field {
    margin-bottom: 0px !important;
  }

.mdc-list-item__primary-text {
    padding-left: 10px;
}

.mat-mdc-select-value {
    font-size: 13px;
    font-weight: 400;
}

.mat-mdc-form-field-subscript-wrapper div {
    padding: 0;
    padding-left: 2px;
}

.forgot-password div.mat-mdc-text-field-wrapper:not(.mdc-text-field--invalid)+.mat-mdc-form-field-subscript-wrapper {
    display: none;
}

.checkLable .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
}

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
    min-width: 185px !important;
    max-width: 372px !important;
}

.mdc-snackbar__surface {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.form-wrapper {
    max-width: 95%;
    margin: 0 auto;
}

.mat-mdc-form-field-hint-wrapper,
.mat-mdc-form-field-error-wrapper {
    padding: 0 !important;
}

.mdc-circular-progress__indeterminate-container {
    width: 50px !important;
}

.loader-container .mat-mdc-progress-spinner::before {
    background: #00000060;
}

.loader .mat-mdc-progress-spinner::before {
    background: #ffffff;
}

.mat-mdc-progress-spinner .mdc-circular-progress__determinate-circle,
.mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
    stroke: #3d91b3 !important;

}

.mat-mdc-progress-spinner::before {
    content: '';
    width: 100%;
    height: 100%;
}

.mat-mdc-progress-spinner {
    position: fixed !important;
    transform: translate(-50%, -50%) !important;
    top: 50% !important;
    left: 50% !important;
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    z-index: 99;
}

.empty-result {
    padding: 100px !important;

    p {
        text-align: center;
    }
}

.contentBox::before {
    content: '';
    background: linear-gradient(180deg, rgba(18, 88, 147, 0.9) 8.76%, rgba(24, 171, 205, 0.504) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

.contentBox {
    width: 100%;
    height: 100%;
    position: relative;
}

.contentBox1::before {
    content: '';
    background: linear-gradient(180deg, rgba(18, 88, 147, 0.9) 8.76%, rgba(24, 171, 205, 0.504) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

.contentBox1 {
    width: 100%;
    max-height: 200px;
    height: 100vh;
    position: relative;
}

.contentBox h2 {
    position: absolute;
    font-size: 30px;
    top: 46px;
    left: 543px;
    font-weight: 500;
    line-height: 38px;
    color: #ffffff;
}

.title {
    position: absolute;
    top: 20%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    transform: translate(-50%, -50%);
    h1 {
        font-size: 30px;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: 0em;
    }

    ul {
        display: flex;
        flex-direction: row;
        font-size: 16px;
        font-weight: 400;
        li {
            ///font-size: 18px;
            margin: 0 15px;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: left;
        }
    }
}

.title_small {
    position: absolute;
    top: 55%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    transform: translate(-50%, -50%);
    h1 {
        font-size: 30px;
        font-weight: 700;
        line-height: 17px;
    }
    p {
        font-size: 16px;
        /* font-weight: 500; */
        line-height: 17px;
        letter-spacing: 0em;
    }
}

.contentBox img {
    height: 100%;
    width: 100%;
    inset: 0px;
    object-fit: cover;
    color: transparent;
    z-index: -2;
}

.contentBox1 img {
    height: 100%;
    width: 100%;
    inset: 0px;
    object-fit: cover;
    color: transparent;
    z-index: -2;

}

.footer_content {
    z-index: 9999;
    height: 24px;
}

.app_container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 16px);
}


.main_containerDiv {
    // min-height: calc(100vh - 4px);
    flex-grow: 1;
    overflow-y: auto;
}

.overlayContent {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p.image404 {
    display: flex;
    align-items: center;
    color: rgb(126, 126, 126);
    line-height: 1.5;
    font-size: 100px;
    font-weight: 900;
    margin: 0px;

    svg {
        width: 1em;
        height: 1em;
        display: inline-block;
        fill: currentcolor;
        flex-shrink: 0;
        transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        font-size: inherit;
        color: rgb(18, 88, 147);
    }
}


@media (max-width: 766px) {
    .contentBox {
        width: 100%;
        max-height: 326px;
        height: 100vh;
        position: relative;
    }

    .title {
        top: 15%;
        transform: none;
        left: 0%;
        right: 0%;

        h1 {
            margin: 0 !important;
        }

        ul {
            flex-direction: column;
            padding: 0 !important;

            li {
                font-size: 15px;
            }
        }
    }

    .title_small {
        top: 44%;
        transform: none;
        left: 0%;
        right: 0%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .contentBox {
        width: 100%;
        max-height: 326px;
        height: 100vh;
        position: relative;
    }
}